body { 
  margin: 0; 
  padding: 0; 
  font-family: system-ui, sans-serif;
}

.demo-wrap { 
  padding: 16px; 
}


/* 1) Pevná velikost */
.example-1 {
  width: 400px;
  height: 400px;
  background: steelblue;
  color: white;
  display: grid;
  place-items: center; /* centrování X + Y */
  margin-bottom: 16px;
}

/* 2) Parent s pevnou výškou */
.parent {
  width: 50%;
  height: 200px;
  background: lightgreen;
  margin-bottom: 16px;
}

/* Child s výškou 50 % → = 100 px */
.child {
  width: 150px;
  height: 50%;
  background: lightskyblue;
  display: grid;
  place-items: center;
}

/* 3) Rodič pro 100 % */
.example-2 {
  width: 400px;
  height: 400px;
  background: #447aa4;
  color: white;

}

/* Dítě: 100 %  */
.example-3 {
  width: 100%;
  height: 100%;
  background: lightgreen;
  display: grid;
  place-items: center;
}

/* Grid systém */

.grid-example1{
      width: 400px;
    height: 400px;
    background: #b4dc3c;
    display: grid;
    place-items: start center;
    margin-bottom: 16px;
    
}

.grid-example2{
      width: 400px;
    height: 400px;
    background: #b4dc3c;
    display: grid;
    place-items: end center;
    margin-bottom: 16px;
}
