body {
   background-image: url(./skoda-105.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed; 
}

.scroll-text {
    background: rgba(169, 58, 58, 0.5);
    width: 50%;
    text-align: center;
    border-radius: 12px;
}
h1 {
    background: rgba(169, 58, 58, 0.5);
    width: 50%;
    text-align: center;
    border-radius: 12px;
}