HTML {
font-size: 12pt;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    padding: 16px;
}

h2 {
    background: red;
}

a {
    background: lightblue;
}

.d1, .a1 {
    display: inline-block;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background: pink;
    width: 180px;
    height: 80px;
    margin-top: 80px;
}
.radius-box {
    background: steelblue;
  width: 200px;
    height: 200px;
    color: aliceblue;
    display: grid;
    place-items: center;
    border-radius: 15%;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.justify {
    text-align: justify;
}
.link {
    text-decoration: none;
    background: none;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
