body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    padding: 16px;
}

h2 {
    background: red;
}

a {
    background: lightblue;
}

.d1, .a1 {
    display: inline-block;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background: pink;
    width: 180px;
    height: 80px;
    margin-top: 80px;
}