html {
    height: 100%;
  
}
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
 

}

.demo-wrap {
    padding: 16px;
}

h2 {
    background: #dbeafe;
}

a, button, span, strong {
    background: #dcfce7;
}

.d1, .s1 {
border: 2px solid #111827;
margin: 12px;
padding: 10px;
background: #fef3c7;
width: 180px;
height: 80px;
margin-top: 80px;
}

.radius-box {
    width: 200px;
    height: 200px;
    background-color: steelblue;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: white;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
    text-decoration: underline;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
    text-transform: capitalize;
}
.link {
    text-decoration: none;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-box 
{
  width: 50%;
  height: 300px;
  background: steelblue;
  margin: 0 auto;
  align-content: center;
}

.center-text 
{
width: 50%;
height: 180px;
background: orange;
margin: 0 auto;
text-align: center;
align-content: center;



}